<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monad Banner</title>
    <link rel="stylesheet" href="../monad-css-library.css">
    <link rel="stylesheet" href="./index.css">
  </head>
  <body>
    <div class="banner-container">
      <div class="green-circle" ></div>
      <h5 class="intro">Introducing: Monad Official</h5>
      <svg class="blog-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 494 496" fill="none">
        <g filter="url(#filter0_di_2745_20016)">
          <path d="M246.815 4C177.851 4 8 174.689 8 243.999C8 313.309 177.851 484 246.815 484C315.779 484 485.633 313.306 485.633 243.999C485.633 174.692 315.782 4 246.815 4ZM209.6 381.238C180.518 373.274 102.33 235.824 110.256 206.598C118.182 177.371 254.95 98.7968 284.032 106.762C313.115 114.726 391.303 252.173 383.377 281.4C375.451 310.628 238.681 389.203 209.6 381.238Z" fill="#836EF9"></path>
        </g>
        <defs>
          <filter id="filter0_di_2745_20016" x="0" y="0" width="493.633" height="496" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
            <feOffset dy="4"></feOffset>
            <feGaussianBlur stdDeviation="4"></feGaussianBlur>
            <feComposite in2="hardAlpha" operator="out"></feComposite>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2745_20016"></feBlend>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2745_20016" result="shape"></feBlend>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
            <feOffset dy="4"></feOffset>
            <feGaussianBlur stdDeviation="2"></feGaussianBlur>
            <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"></feComposite>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"></feColorMatrix>
            <feBlend mode="normal" in2="shape" result="effect2_innerShadow_2745_20016"></feBlend>
          </filter>
        </defs>
      </svg>
      <span class="date">Date: January 13, 2025</span>
    </div>
  </body>
</html>
