.banner-container {
  width: 1200px;
  height: 360px;
  box-sizing: border-box;
  padding: 40px 48px 40px 72px;
  border-radius: 24px;
  border: 1px solid var(--white-40);
  background-color: var(--white-90);
  cursor: pointer;
  transition: all .25s;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 1px 1px 0px rgba(20, 21, 26, 0.15);
}
.banner-container:hover {
  background-color: var(--white);
}
.banner-container:hover .blog-logo {
  right: -100px;
}
.banner-container .green-circle {
  width: 24px;
  height: 24px;
  background-color: var(--success);
  border-radius: 50%;
  position: absolute;
}
.banner-container .intro {
  max-width: 18ch;
  -webkit-line-clamp: 2;
  font-size: var(--h5--font-size);
  margin-left: 40px;
  margin-top: -10px;
}
.banner-container .blog-logo {
  width: 494px;
  height: 496px;
  position: absolute;
  top: 30px;
  right: -200px;
  transition: all .35s ease-in-out;
  /* transform: translateX(-100px); */
}
.date {
  font-size: .75rem;
  color: rgb(153, 151, 151);
  margin-left: 40px;
  position: absolute;
  bottom: 40px;
}

img {
  position: absolute;
  margin-left: 6px;
  z-index: 99;
  transition: all .3s;
  cursor: pointer;
}
input[type="checkbox"] {
  position: relative;
  width: 120px;
  height: 30px;
  appearance: none;
  background-color: var(--monad-purple);
  border-radius: 15px;
  outline: none;
  transition: background-color 0.3s;
}
input[type="checkbox"]:checked {
  background-color: var(--gray-40);
}
input[type="checkbox"]::before {
  /* content: url('../logos/primary/logo.png'); */
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  top: -10px;
  left: 0px;
  background-color: var(--electric-ice);
  transition: transform 0.3s;
}
input[type="checkbox"]:checked::before {
  transform: translateX(80px);
  background-color: var(--shadow-electric-ice);
}
input[type="checkbox"]:checked + img {
  transform: translateX(80px);
}
/* 
input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
}
input[type="checkbox"]:checked::after {
  opacity: 1;
} */

@media only screen and (max-width: 991px) {
  .blog-logo {
    width: 370.5px;
    height: 372px;
  }
  .banner-container {
    width: 800px;
    height: 240px;
  }
}
@media only screen and (max-width: 767px) {
  .blog-logo {
    width: 247px;
    height: 248px;
  }
}
@media only screen and (max-width: 439px) {
  .blog-logo {
    width: 247px;
    height: 248px;
    display: none;
  }
}